<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidslearning.mapper.CharacterMapper">
    <select id="selectByQuery" resultType="com.kidslearning.entity.ChineseCharacter" parameterType="com.kidslearning.entity.query.CharacterQuery">
        SELECT * FROM characters
        <where>
            <if test="query.character != null and query.character != ''">
                AND `character` LIKE CONCAT('%', #{query.character}, '%') 
            </if>
              <if test="query.pinyin != null and query.pinyin != ''">
                AND pinyin LIKE CONCAT('%', #{query.pinyin}, '%') 
            </if>
            <if test="query.category != null and query.category != ''">
                AND category = #{query.category}
            </if>
            <if test="query.learned != null">
                AND learned = #{query.learned}
            </if>
        </where>
        ORDER BY id ASC
    </select>
</mapper>
