<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidslearning.mapper.CharacterMapper">
    <select id="selectByQuery" resultType="com.kidslearning.entity.ChineseCharacter" parameterType="com.kidslearning.entity.query.CharacterQuery">
        SELECT * FROM characters
        <where>
            <if test="query.keyword != null and query.keyword != ''">
                AND (`character` LIKE CONCAT('%', #{query.keyword}, '%') OR pinyin LIKE CONCAT('%', #{query.keyword}, '%'))
            </if>
        </where>
        ORDER BY id DESC
    </select>
</mapper>