<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidslearning.mapper.PinyinMapper">
    <select id="selectByQuery" resultType="com.kidslearning.entity.Pinyin" parameterType="com.kidslearning.entity.query.PinyinQuery">
        SELECT * FROM pinyin
        <where>
            <if test="keyword != null and keyword != ''">
              `character` LIKE CONCAT(#{keyword}, '%')
            </if>
        </where>
        ORDER BY id DESC
    </select>
</mapper>