<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidslearning.mapper.PoetryMapper">
    
    <select id="selectByQuery" resultType="com.kidslearning.entity.Poetry" parameterType="com.kidslearning.entity.query.PoetryQuery">
        SELECT * FROM poetry
        <where>
            <if test="query.title != null and query.title != ''">
                AND title LIKE CONCAT('%', #{query.title}, '%')
            </if>
            <if test="query.content != null and query.content != ''">
                AND content LIKE CONCAT('%', #{query.content}, '%')
            </if>
            <if test="query.author != null and query.author != ''">
                AND author LIKE CONCAT('%', #{query.author}, '%')
            </if>
            <if test="query.dynasty != null and query.dynasty != ''">
                AND dynasty = #{query.dynasty}
            </if>
            <if test="query.genre != null and query.genre != ''">
                AND id IN (
                    SELECT poetry_id FROM poetry_tag 
                    JOIN tag ON poetry_tag.tag_id = tag.id 
                    WHERE tag.type = 'genre' AND tag.name = #{query.genre}
                )
            </if>
            <if test="query.theme != null and query.theme != ''">
                AND id IN (
                    SELECT poetry_id FROM poetry_tag 
                    JOIN tag ON poetry_tag.tag_id = tag.id 
                    WHERE tag.type = 'theme' AND tag.name = #{query.theme}
                )
            </if>
            <if test="query.learned != null">
                AND learned = #{query.learned}
            </if>
        </where>
        ORDER BY id ASC
    </select>
</mapper>
